.App {
    margin: 0 10%;
    height: 100vh;
    overflow: auto;
    text-align: center;
    color: #008686;
    background-color: #c1cdfa;
}

.board-container {
    position: relative;
    margin: 20px auto;
    width: 65vw;
    height: 65vw;
}

@media only screen and (min-width: 450px) {
    .board-container {
        width: 55vw;
        height: 55vw;
    }
}

@media only screen and (min-width: 770px) {
    .board-container {
        margin: 2% auto;
    }
}

@media only screen and (min-width: 840px) {
    .board-container {
        width: 420px;
        height: 420px;
    }
}

@media only screen and (max-height: 420px) {
    .board-container {
        width: 35vw;
        height: 35vw;
        margin: 10px auto;
    }
}
