.hide {
    display: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    width: 80%;
    height: 40vh;
}

@media only screen and (min-width: 500px) {
    .board {
        width: 65%;
        height: 45vh;
    }
}

@media only screen and (min-width: 640px) {
    .board {
        width: 55%;
        height: 50vh;
    }
}

@media only screen and (min-width:700px) {
    .board {
        width: 55%;
        height: 50vh;
    }
}

@media only screen and (min-width: 1024px) {
    .board {
        width: 50%;
        height: 56vh;
    }
}

@media only screen and (min-width: 1224px) {
    .board {
        width: 45%;
        height: 60vh;
    }
}
