.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    width: 80%;
    height: 40vh;
    border: solid 2px #008686;
    transition: 0.4s;
    /* background-image: url('./img/tic.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}

@media only screen and (min-width: 640px) {
    .board {
        width: 55%;
        height: 56vh;
    }
}

@media only screen and (min-width: 1024px) {
    .board {
        width: 50%;
        height: 56vh;
    }
}

@media only screen and (min-width: 1224px) {
    .board {
        width: 45%;
        height: 60vh;
    }
}
