.board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 1s;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
}

.win-b{
    transform: scaleY(0);
    transition: transform 1s;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
}
