.scores {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 1.3rem;
}

.score {
    display: inline-block;
    /* margin: 0 5px; */
    min-width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 3px;
    font-family: monospace;
    background-color: #a5caca;
}
