.hide {
    display: none;
}

.winner {
    margin: 0 auto;
    width: 80%;
    height: 40vh;
    overflow: auto;
    background-color: #a5caca;
    border-radius: 5px;
    transition: 0.4s;
}

h2 {
    margin-top: 40px;
    font-size: 1.5rem;
}

@media only screen and (min-width: 640px) {
    .winner {
        width: 55%;
        height: 56vh;
    }
}

@media only screen and (min-width: 1024px) {
    .winner {
        width: 50%;
        height: 56vh;
    }

    h2 {
        margin-top: 70px;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1224px) {
    .winner {
        width: 45%;
        height: 56vh;
    }
}
